<!--TODO: Colocar el icono correcto para tab: ejercicios--> 
<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ejercicios">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Ejercicios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="agregar-rutinas">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Añadir Rutinas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="noticias">
      <ion-icon name="paper"></ion-icon>
      <ion-label>Noticias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil">
      <ion-icon name="contact"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>